body{
    background-color: #171a1f;
}

#game-display{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#grid-container { 
    display: flex;
    flex-flow: row wrap;
    width: 500px;
    height: 500px;
    border: solid black;
}
#intropic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#playmebtn{
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#thanks{
    position: absolute;
    top: 75%;
    left: 50%;
    font-family: sans-serif;
    color: azure;
    
}

#demo{
    outline-style: solid;
    outline-color:rgba(0, 241, 129, 0.678);
    outline-width: 1px;
    margin: 0px;
    width: 250px;
    height: 25px;
    background-color: #4436c0;
    
}

.square{
    outline-style: solid;
    outline-color:rgba(0, 241, 129, 0.678);
    outline-width: 1px;
    margin: 0px;
    width: 25px;
    height: 25px;
    background-color: rgb(37, 34, 37);
}


.square-walls{
    outline-style: solid;
    outline-color:rgba(139, 140, 194, 0.678);
    outline-width: 1px;
    margin: 0px;
    width: 25px;
    height: 25px;
    background-color: rgba(79, 119, 194, 0.678)
}

.square-filled-red{
    outline-style: solid;
    outline-color:rgba(0, 241, 129, 0.678);
    outline-width: 1px;
    margin: 0px;
    width: 25px;
    height: 25px;
    background-color: #ff2d21;
    border-radius: 50%;
}

.square-filled-yellow{
    /* outline-style: solid;
    outline-color:rgba(0, 241, 129, 0.678);
    outline-width: 1px;
    margin: 0px; */
    width: 25px;
    height: 25px;
    background-color: yellow;
    /* border-radius: 50%; */
}
.begin-countdown{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
}