#container {
  width: 400px;
  height: 400px;
  position: relative;
  background: rgb(167, 159, 179);
}
#animate {
  width: 50px;
  height: 50px;
  position: absolute;
  /* background-color: red; */
}