body {background-color: rgb(119, 120, 138);}

table, td {
    border: 0.5px solid black;
    Font:15px Arial, sans-serif;
}

td {
    background-color: coral;
}

table {
    background-color: rgb(110, 71, 202);
}

h1 {
    Font:20px Arial, sans-serif; 
    color: indianred;
}

h2 {
    Font:20px Arial, sans-serif; 
    color: rgb(7, 7, 7);
}

#buttons {
    Font:30px Arial, sans-serif;
    background-color: rgb(120, 107, 150);
}

#hed {
    background-color: rgb(178, 162, 216);
}

.button {
    background-color: #484979; /* Blue */
    border: 0.5px;
    color: white;
    padding: 5px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #gameSpace {
    background-color: #0a0a0c; /* Blue */
    padding: 250px 50px;
  }

  img.tableLogo{
    max-width: 20px;
 }
  
    
  